@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "adora";
  src: url("/fonts/Li Ador Noirrit Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adoraBold";
  src: url("/fonts/Li Ador Noirrit Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  font-family: "adora";
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: gray;
}
::-webkit-scrollbar-thumb:hover {
  background: #f43232;
}
